/* Reset button styles */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 * 3. Remove default padding in all browsers.
 */
/* `inherit` value in properties makes the element inherit same property
 * values on parent element. For example, we set body element `color: white`
 * then the button text color will also become white since the property of
 * body element cascades down to its child elements, and button is a child of body
 */
button {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border-width: 0;
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 */
button {
    text-transform: none;
}

/**
 * Remove default button styles.
 */
button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

/*************
 * Utilities *
 *************/

.bg-gray {
    background-color: rgb(31 41 55);
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.text-white {
    color: white;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Utility for controlling the space between child elements. */
.space-x-4 > * + * {
    margin-left: 1rem;
}

.bg-sky-600 {
    background-color: rgb(2 132 199);
}

/**************
 * Components *
 **************/

.feature {
    position: relative;
    height: calc(100vh - 88px);
    overflow: hidden;
}

.feature img {
    min-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.feature-text-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(to top,rgba(0,0,0, 0.5) 0%, rgba(0,0,0, 0.3) 70%, rgba(0,0,0, 0) 90%);
}

.feature-title {
    font-size: 2.5rem;
    margin: 0 0 1rem;
}

.feature-type, .feature-genre {
    font-size: .8rem;
}

.feature-type {
    padding: .25rem .5rem;
    border-radius: .25rem;
    background-color: darkgreen;
}

/**
 * Multi-line ellipsis
 *
 * `text-overflow: ellipsis;` doesn't work when the text wraps to an extra line.
 * To truncate multi-line text and add an ellipsis at the end of the last line
 * use the experimental -webkit-box box model (it's supported in all major browsers)
 *
 * Control how many lines to show with -webkit-line-clamp.
 * (Not needed anymore: It is important to let the text wrap by setting the
 * white-space property to pre-wrap or normal).
 *
 * https://codefrontend.com/css-ellipsis/
 *
 * Paragraphs recommended max width is around 80 characters, makes it easier to read
 */
.feature-description {
    max-width: 80ch;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.feature-button {
    background-color: rgb(2 132 199);
    border-radius: 0.25rem;
}