body{
    margin: 0 auto;
    padding: 0;
    background-repeat: no-repeat;
    background-color: rgb(10, 10, 10);

}
main{
    width: 90%;
    margin: 2rem auto;
}
/* ========Header Navbigation====== */
.header-nav{
    margin: 1rem auto;
}
.nav-1{
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 2rem;
	padding-right: 2rem;
}
div.Navbigation a{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
	margin: 15px;
	color: #fff;
}
div.Navbigation a:hover{
    color: rgb(203, 8, 8);
}
.logo img{
    border-radius: 0.5rem;
}
.logo img:hover{
    filter: sepia(1);
}
div.Navbigation a:hover{
    color: #000;
}
div.Navbigation  input[type=text]{
	border: none;
	font-size: 16px;
	border-radius: 20px;
	background-color: rgb(221, 229, 223);
	margin-right: 2rem;
	padding: 10px;
}

div.navbigation-2{
    display: flex;
    justify-content: center;
    background-color: rgb(30, 10, 10);
    margin: 0.5rem auto;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.2rem;
    color: #fff;
    border: 0.1rem solid #007afc8b;
    font-variant: small-caps;
}
div.dropbox{
    background-color: rgb(24, 19, 19);
    display: flex;
    justify-content:left;
    gap: 0.2rem;
    margin: 2rem auto;
}
div.dropbox a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
div.dropbox a:hover{
    color: rgb(187, 8, 8);
}
/* ========Header Navbigation end====== */

/*======Video Design====== */
div.container-v{
        width: 100%;
        overflow: auto;
        margin: 10px auto;
}
div.video-content{
        display: inline-block;
        justify-content: space-between;
 }
div.image-content{
        overflow: hidden;
        padding: 5px;
        padding-bottom: 20px; 
}
div.image-content img{
        width: 180px;
        height: 240px;
        border-radius: 0.5rem;
        object-position: center;
        object-fit: cover;
        filter: sepia(1);
}
    
div.desc, div.desc a{
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
}
div.image-content img:hover {
        transform: scale(1.1);
        transition: 0.2s;
        filter: brightness(1); 
}
/*======Video Design END====== */

/* ======Footer Elements====== */

footer{
    width: 100%;
    margin: 0.5rem auto;
    padding: 1rem;
    background-color: #fff;
}
div.footer-elements{
    display: flex;
    justify-content: center;
    gap: 0.9rem;
    margin-top: 2.3rem;
}
div.footer-elements a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
div.footer-elements a:hover{
    color: #fc0000;
}
div.creator p{
    display: flex;
    justify-content: center;
    padding: 2px;
    background-color: rgb(80, 26, 26);
    color: #fff;
    letter-spacing: 0.1rem;
}
div.socials{
   justify-content: center;
    display: flex;
    color: #000;
    font-size: 20px;
    gap: 1rem;
    margin: 1rem auto
}
div.socials a{
    font-size: 2rem;
}
div.socials a:hover{
    color: #fc0000;
    transform: scale(1.1);
}

